.navbar-inverse {
    border-color: #080808;
    background: linear-gradient(to right, #3e3e3e 0%, #4c4c4c 30%, #4c4c4c 70%, #3e3e3e 100%);
    background-color: #535353;
}

.navbar-collapse {
    margin-top: 16px;
}

.component-title {
    text-align: center;
    border: 1.4px solid #ffe8a3;
    border-radius: 10px
}
.no-padding{
  padding: 0;
}
.nvd3.nv-pie path {
	stroke-width: 0;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffe8a3;
}
.table>tbody>tr>td{
	border: 0;
}
.table>thead>tr>th, .table>thead:first-child>tr:first-child>th{
	border-bottom: 2px solid #ffc107;
	border-top: 2px solid #ffc107;
}
.table{
	margin-top: 5px;
}