.navbar-inverse {
    border-color: #080808;
    background: linear-gradient(to right, #3e3e3e 0%, #4c4c4c 30%, #4c4c4c 70%, #3e3e3e 100%);
    background-color: #535353;
}
.navbar-collapse {
    margin-top: 16px;
}
.component-title {
    text-align: center;
    border-radius: 10px;
    border: 1px #33CCCC solid;
    line-height: 30px;
    padding-left: 1%;
    background: #33CCCC;
    color: #fff !important;
    border-radius: 4px;
}
.no-padding {
    padding: 0;
}
.nvd3.nv-pie path {
    stroke-width: 0;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ffe8a3;
}
.table>tbody>tr>td {
    border: 0;
}
.table>thead>tr>th, .table>thead:first-child>tr:first-child>th {
    border-bottom: 2px solid #ffc107;
    border-top: 2px solid #ffc107;
}
.table {
    margin-top: 5px;
}
.logo {
    position: absolute;
    height: 120px;
    width: 200px;
    bottom: -53px;
}
.menuItems {
    margin-left: 200px;
}
.navbar-inverse .navbar-nav>li>a {
    padding: 15px 50px;
}
.navbar-inverse .navbar-nav>li>a.active {
    color: white;
}
.placeHolder {
    margin-top: 40px;
}
.squareBox {
    float: left;
    margin: 10px;
    width: 130px;
    height: 130px;
    border: 1px solid #33CCCC;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}
.table-container {
    margin: 30px;
}
.heading {
    font-size: 2.75rem;
    color: #333;
}
.sliderContainer {
    margin: 20px;
}
.slider {
    margin-top: 10px;
}
.icon {
    margin: 15px;
}
.calenderIcon {
    color: #ee82ee;
}
.noOfLegsIcon {
    color: #808080;
}
.pvIcon {
    color: #85bb65;
}
.ovIcon {
    color: #008000;
}
.category {
    padding-left: 5px;
    font-size: 12px;
    margin-top: 10px;
}
.nvd3.nv-lineChart .nv-x.nv-axis line {
    stroke: none;
    fill: none;
}
.nvd3 .nv-axis path.domain {
    stroke: none;
}
.nvd3.nv-line .nvd3.nv-scatter .nv-groups .nv-point {
    fill-opacity: 0.95!important;
}
.nv-pie-title {
    font-size: 30px !important;
}
.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.found {
    fill: #ff4136;
    stroke: #ff4136;
}
.search {
    float: left;
    font: 10px sans-serif;
    width: 30%;
}
ul.select2-results {
    max-height: 100px;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    font: 10px sans-serif;
}
#block_container {
    display: inline;
}
.node {
    cursor: pointer;
}
.overlay {
    background-color: #EEE;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font-size: 10px;
    font-family: sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.templink {
    fill: none;
    stroke: red;
    stroke-width: 3px;
}
.ghostCircle.show {
    display: block;
}
.ghostCircle, .activeDrag .ghostCircle {
    display: none;
}
.node {
    cursor: pointer;
}
.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font: 10px sans-serif;
}
.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.found {
    fill: #ff4136;
    stroke: #ff4136;
}
.search {
    float: left;
    font: 10px sans-serif;
    width: 30%;
}
ul.select2-results {
    max-height: 100px;
}
.select2-container, .select2-drop, .select2-search, .select2-search input {
    font: 10px sans-serif;
}
#block_container {
    display: inline;
}
node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.node text {
    font-size: 25px;
    font-family: FontAwesome;
}
.nodeLevel1 {
    font-size: 10px !important;
    font-family: Arial !important;
    font-style: Italic;
}
.d3-tip {
    line-height: 1;
    font-weight: bold;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */

.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

#leftcolumn, #rightcolumn {
    border: 1px solid white;
    display: inline-block;
}
#rightcolumn {
    width: 200px;
}
.search {
    top: 6px;
    width: 100%;
    text-align: left;
}
