<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="component-title">
				<h4>My Performance</h4>
			</div>
			<div class="table-container">
				<table class = "table table-striped">
				   <thead>
				      <tr>
				         <th>Rank</th>
				         <th>Gold</th>
				      </tr>
				   </thead>

				   <tbody>
				      <tr>
				         <td>Period</td>
				         <td>Apr 16</td>
				      </tr>

				      <tr>
				         <td>PV</td>
				         <td>100</td>
				      </tr>

				      <tr>
				         <td>OV</td>
				         <td>500</td>
				      </tr>
				      <tr>
				         <td>Qualified Leg</td>
				         <td><i class="glyphicon glyphicon-user" aria-hidden="true"></i></td>
				      </tr>
				   </tbody>

				</table>
			</div>
			<div class="graph-container">
				<div class="component-title">
					<h4>Goals to achieve</h4>
				</div>
				<div class="col-md-6 no-padding">
					<nvd3 options="pvOptions" data="pvData" id="pvGraphId" on-ready="pvGraphChange()"></nvd3>
				</div>
				<div class="col-md-6 no-padding">
					<nvd3 options="ovOptions" data="ovData" id="ovGraphId" on-ready="ovGraphChange()"></nvd3>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<div class="component-title">
				<h4>Team Performance Analysis</h4>
			</div>
			<label class="radio-inline">
				<input type="radio" name="optradio" ng-model="performanceChartType" value="weekOVData">
					Current v/s Previous Month's OV
			</label>
			<label class="radio-inline">
				<input type="radio" name="optradio" ng-model="performanceChartType" value="yearOVData">
					Year to Date OV
			</label>
			<div class="graph-container">
				<nvd3 options="performanceOptions" data="performanceData" class="with-3d-shadow with-transitions"></nvd3>
			</div>
			<!-- <div class="graph-container" ng-if="{{performanceChartType==='yearOVData'}}">
				<nvd3 options="performanceOptions" data="performanceData" class="with-3d-shadow with-transitions"></nvd3>
			</div> -->
			<button ng-click="refresh()">Refresh</button>
		</div>
	</div>
</div>
